extends layout

append stylesheets
  link(rel='stylesheet', href='/stylesheets/index.css')
  link(rel='styleshhet', href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css")

block content
  div(ng-controller="indexController")
    .modal 
      .modal__iner 
        .modal__header 
          h2 Welcome, Please Login 
        .modal__footer 
          a(href='/auth/google')
            i.fa-fa-google-pls(aria-hidden='true')
            | Login with Google+

append javascripts
    script(src="/javascripts/controller/indexController.js")
